<div class="row">
	<div class="col-md-4 ">
		<form class="form pull-left">
			<div class="row ">
				<div class="col-md-7 label">
					Add New Phone Details
				</div>
				<div class="col-md-7">
					<input type="text" placeholder="Enter Name">
				</div>
				<div class="col-md-7">
					<input type="text" placeholder="Enter Phone Number">
				</div>
				<div class="col-md-7">
					<textarea placeholder="Enter Additional Notes"></textarea>
				</div>
				<div class="col-md-7">
				     <button type="submit" id="login-button" ng-click="loginBtnClick()">Add New</button>
				</div>
			</div>
		</form>	
	</div>
	<div class="col-md-8">
		Hello
	</div>
</div>
