<div class="row">
	<div class="col-md-4 pull-right search-margin">
		<div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." id='search'>
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="getSearchList()" id="search_btn">Go!</button>
	      </span>
	    </div>
	</div>
</div>
<div class="row oveflow-auto">
	<div class="col-md-3 border-left">
		<form class="form pull-left" formvalidator formvalidatorconfig="eventformvalidate" formvalidatorapi="eventformvalidateapi">
			<div class="row ">
				<div class="col-md-7 label">
					Add New Phone Details
				</div>
				<div class="col-md-7">
					<input type="text" placeholder="Enter Name" name="name" id="name">
				</div>
				<div class="col-md-7">
					<input type="text" placeholder="Enter Phone Number" name="phone_number" id="phone_number">
				</div>
				<div class="col-md-7">
					<textarea placeholder="Enter Additional Notes" id="additional_notes"></textarea>
				</div>
				<div class="col-md-7">
				     <button type="submit" id="login-button" ng-show="editFlag == false">
				     	<span class="glyphicon glyphicon-plus-sign action-icons" aria-hidden="true">
				     		
				     	</span>
				     	Add
				     </button>
				     <button type="submit" id="edit-button" ng-show="editFlag == true" class="action-btns">
				     	<span class="glyphicon glyphicon-edit action-icons" aria-hidden="true">
				     		
				     	</span>
				     	Edit
				     </button>
				     <button type="submit" id="cancel-button" ng-show="editFlag == true" class="action-btns" ng-click="cancelEditing($event)">
				     	<span class="glyphicon glyphicon glyphicon-remove-sign action-icons " aria-hidden="true">
				     		
				     	</span>
				     	Cancel
				     </button>
				</div>
			</div>
		</form>	
	</div>
	<div class="col-md-9 parent-div">
		<div class="loading-msg" ng-show="lengthFlag == false">Loading....</div>
		<div class="row" ng-show="phoneList.length == 0">
			<div class="col-md-12">
				No phone numbers avaliable.
			</div>
		</div>
		<div class="row bottom-border animate-repeat" dir-paginate="phone in phoneList | itemsPerPage: phonesPerPage" total-items="totalItems" current-page="pagination.current" >
			<div class="col-md-3 field">
				{{phone.name | unescapeFilter}}
			</div>
			<div class="col-md-3 field date-field">
				{{phone.phone_number | unescapeFilter}}
			</div>
			<div class="field col-md-2 date-field">
				{{phone.date_created}}
			</div>
			<div class="col-md-3 field action-field ">
				<span class="glyphicon glyphicon-edit action-icons" aria-hidden="true" ng-click="editPhoneNumber(phone)"></span>
				<span class="glyphicon glyphicon-remove-circle action-icons error-home-icon" aria-hidden="true" data-toggle="modal" data-target="#myModal" ng-click="showModal(phone)"></span>
				
					<span class="glyphicon glyphicon-list-alt action-icons additional-icon	" aria-hidden="true" role="button" data-toggle="popover" data-trigger="hover" title="Additional Notes" data-content="{{ phone.additional_notes | unescapeFilter}}" data-placement="left"></span>
				
			</div>
		</div>
		
		 
	</div>
</div>
<div class="paginator">
<div class="pull-right">
			<dir-pagination-controls on-page-change="pageChanged(newPageNumber);$event.stopPropagation()"></dir-pagination-controls>
		</div>
		</div>
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
