
    
    <form class="form" formvalidator formvalidatorconfig="eventformvalidate" formvalidatorapi="eventformvalidateapi" class="form-group">
    <div class="row">
    	<div class="col-md-6 text-right">
      		<h1>Welcome</h1>
      	</div>
      </div>
    <div class="row">
    	<div class="col-md-7 text-right">
      		<input type="text" placeholder="Username" name="username" id="username" class="block-inline" autocomplete="off">
      	</div>
      	<div class="col-md-5 text-left">
      		<span class="glyphicon glyphicon-remove-circle error-icon hide" aria-hidden="true"></span>
      		<span class="glyphicon glyphicon-ok-circle success-message hide" aria-hidden="true"></span>
      	</div>
     </div>
     <div class="row">
    	<div class="col-md-7 text-right">
    	  <input type="password" placeholder="Password" name="password" id="password" class="block-inline" autocomplete="off">
    	</div>
    	<div class="col-md-5 text-left">
      		<span class="glyphicon glyphicon-remove-circle error-icon hide" aria-hidden="true"></span>
      		<span class="glyphicon glyphicon-ok-circle success-message hide" aria-hidden="true"></span>
      	</div>
      </div>
      <div class="row">
    	<div class="col-md-7 text-right">
      		<button type="submit" id="login-button" >Login</button>
      	</div>
      </div>
    </form>